<!DOCTYPE html>
<html>
  <head>
    <title>Buble :: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
    	<%= headerTitle %>
    </div>
    <div id="wraper">

    </div>
  </body>
</html>
