<!DOCTYPE html>
<html>
  <head>
    <title>Bubble :: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    <div id="header">
    	<%= headerTitle %>
    </div>
    <div id="wraper">
    	<div id="form">
    		<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" />
    		<input type="submit" value="Play" id="play" />
    	</div>
      <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000');

            $("#play").click(function() {
              socket.emit("requestLogging", {pseudo: $("#pseudo").val()});
              $("#pseudo").val('');
            });
            socket.on("coValid", function(o) {
              alert(o.address);
            });
        </script>
    </div>
  </body>
</html>
