<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bubble</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <section class="wrapper">
        <h1 class="title">Bubble</h1>
        <form action="/" method="post" id="form_pseudo">
                <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" autofocus/>
                <input type="submit" value="Play" />
        </form>
    </section>

    <canvas id="canvas">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/camera.js"></script>
    <script src="/scripts/IO.js"></script>
    <script src="/scripts/events/addEvent.js"></script>
    <script src="/scripts/events/submit.js"></script>
    <script src="/scripts/events/mouseMove.js"></script>
    <script src="/scripts/events/resize.js"></script>
</body>
</html>
