<!DOCTYPE html>
<html>
  <head>
    <title>Buble :: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
    	<%= headerTitle %>
    </div>
    <div id="wraper">
    	<div id="form">
    		<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" />
    		<input type="submit" value="Play" id="play" />
    	</div>
    </div>
  </body>
</html>
